<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke tests suite" verbose="1">
    <test name="AddCustomertest">
        <parameter name="cardNumber" value="4005550000000019"/>
        <classes>
            <class name="tests.AddCustomerTest"/>
        </classes>
    </test>
    <test name="AddProducttest">
        <classes>
            <class name="tests.AddProductTest"/>
        </classes>
    </test>
    <test name="SyncMagentowithFStest">
        <parameter name="cardNumber" value="4005550000000019"/>
        <classes>
            <class name="tests.AssignMagentoChannel"/>
        </classes>
    </test>
</suite>